.banner {
  margin-top: -72px;
  background-image: url("../../../images/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
}
.banner > h1 {
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}
.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}
.banner > a {
  text-decoration: none;
}
.banner > a > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 1vmax;
  width: 9vmax;
  font: 500 1.2vmax "Roboto";
  transition: all 0.5s;
}
.banner > a > button:hover,
.banner > a > button:active {
  background-color: rgb(255, 255, 255, 0);
  color: #fff;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100vmin;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
  background-color: #fff;
}
